---
import Base from "../layouts/Base.astro";

const pageTitle = "About Me";

const identity = {
    firstName: "Chuck",
    country: "USA",
    occupation: "Product Designer",
    hobbies: ["video games", "board games", "3d printing"],
};

const skills = ["HTML", "CSS", "JavaScript", "Svelte", "Astro"];

const happy = true;
const finished = false;
const goal = 3;

const skillColor = "crimson";
const fontWeight = "900";
---

<Base pageTitle={pageTitle}>
    <p class="subtitle">... and my new Astro site!</p>

    <p>
        I am working through the introductory tutorial for <a
            href="https://astro.build/">Astro</a
        >. This is the second page of my Astro blog, and it's the first one I
        built myself.
    </p>
    <p>
        This site will update as I complete more of the tutorial, so keep
        checking back and see how my journey with Astro is going.
    </p>
    <p>Here are a few facts about me:</p>
    <ul>
        <li>My name is {identity.firstName}</li>
        <li>I live in {identity.country}</li>
        <li>I work as a {identity.occupation}</li>
        {
            identity.hobbies.length >= 2 && (
                <li>
                    Two of my hobbies are: {identity.hobbies[0]} and{" "}
                    {identity.hobbies[1]}
                </li>
            )
        }
    </ul>
    <p>My skills are:</p>
    <ul>
        {skills.map((skill) => <li class="skill">{skill}</li>)}
    </ul>
    <hr />
    <h2>My Status</h2>
    {happy && <p>I am happy to be learning Astro!</p>}
    {
        finished ? (
            <p>I have finished the tutorial!</p>
        ) : (
            <p>I am still learning.</p>
        )
    }
    {
        goal === 3 ? (
            <p>My goal is to finish in 3 days.</p>
        ) : (
            <p>My goal is not in 3 days.</p>
        )
    }
</Base>

<style define:vars={{ skillColor, fontWeight }}>
    :global(.page-title h1) {
        color: var(--clr-accent-dark);
        font-size: 4rem;
    }
    .skill {
        color: var(--skillColor);
        font-weight: var(--fontWeight);
    }
</style>
