---
import Base from "./Base.astro";
import PostTag from "../components/PostTag.astro";

const { frontmatter } = Astro.props;

const options = {
    year: "numeric",
    month: "long",
    day: "numeric",
    timeZone: "UTC",
};
---

<Base pageTitle={frontmatter.title} metadata={frontmatter}>
    <div class="metadata" slot="metadata">
        <p class="desc">{frontmatter.description}</p>
        <p class="authorship">
            Written by {frontmatter.author}, on {
                frontmatter.pubDate.toLocaleDateString("en-US", options)
            }
        </p>
    </div>
    <article class="post__article">
        <img
            class="featured-image"
            src={frontmatter.image.url}
            alt={frontmatter.image.alt}
        />
        <slot />
        <footer class="post__article--footer">
            <p class="tags">
                <strong>Tags:</strong>
                {frontmatter.tags.map(tag => <PostTag tag={tag} />)}
            </p>
        </footer>
    </article>
</Base>

<style>
    .featured-image {
        max-width: 100%;
        aspect-ratio: 2.5;
        object-fit: cover;
    }
</style>
